@import fonts
@import variables
@import defaults

@mixin blur($px)
    -webkit-filter: blur($px)
    -moz-filter: blur($px)
    -o-filter: blur($px)
    -ms-filter: blur($px)
    filter: blur($px)

@mixin maxcolumn($num)
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: $num /* number of lines to show */
    -webkit-box-orient: vertical

@mixin font($size, $lnh)
    font-size: $size
    line-height: $lnh

@import header
@import weather
@import homepageslider
@import runningstring
@import homepage-zone1
@import banners
@import homepage-zone2
@import homepage-zone3
@import footer

@import aboutpage
@import newsnsearch
@import contactpage
@import articlepage

.calendar header .btn-prev
    top: 19px

    left: 17px

.calendar header .btn-next
    top: 19px

    right: 17px

@include sizePlus(1800px)
    .calendar header .btn-next
        right: 37px
    .calendar header .btn-prev
        left: 37px
